@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  background: #FFF8F3;
  
}